<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Профиль</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="root">
      <h3>Добро пожаловать, {{ request.user }}</h3>
      <a href='{% url "createPage" %}' class='btn btn-primary'>Записаться к врачу</a>
      <h3>Ваши заявки:</h3>
      <ul class='list-group'>
        {% for record in records %}
            <li class="list-group-item">К {{ record }}</li>
        {% endfor %}
      </ul>
      <a style='margin-top: 7px' href='{% url "logoutUser" %}' class='btn btn-danger'>Выйти</a>
    </div>
  </body>
  <style>
    body {
      padding: 40px;
    }
  </style>
</html>
